* {
    background-color: aqua;
}


.questions {

font-weight: bold;

}

#timer {

    list-style: none;
    
    

    
}



li {
    font-weight: bold;
}

.hide {

    display: none;
}

a {

    text-decoration: none;
    color: blue;

}

#start {

    background-color: white;
    text-decoration: black;

}

#link-back-to-quiz {

   float: right;
}

#submitButton {
    background-color: white;
}

